.center {
    text-align: center;
}

.card-icon > span {
    font-size: 55px;
}

.card-icon.green {
    color: #006f00;
}

.card-icon.blue {
    color: #0050a6c4;
}

.card-icon.yellow {
    color: #eeee2e;
}

.card-icon.red {
    color: #d53c3c;
}
